*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/release/FastSongsterr-release-1.0.apk
/app/release/output-metadata.json
/.idea/vcs.xml
/icon/bass.png
/icon/delFavorites.png
/icon/drum.png
/icon/electro.png
/icon/favorites.png
/icon/go.png
/icon/okFavorites.png
/icon/share.png
